# Database
database.db

# Python cache files
__pycache__/
*.pyc

# Virtual Environments (if you use them)
venv/
env/
*.env
.env
.env.local
.env.*.local

# Uploaded test images (so you don't push dummy user avatars/receipts)
static/uploads/*
!static/uploads/.gitkeep

seed_data.py
create_admin.py