:root {
    --bg-antique-cream: #D6D0C5;
    --fill-natural-beige: #ffffff; 
    --action-ruby-red: #A6171C;
    --text-pure-black: #000000;
    --bg-footer-blue: #1A323E
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body, html {
    height: 100%;
    font-family: 'Inter', -apple-system, sans-serif;
    background-color: var(--bg-antique-cream);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.mobile-container {
    max-width: 430px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: env(safe-area-inset-top, 20px) 50px env(safe-area-inset-bottom, 30px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 60px;
}

.logo-img {
    height: 40px;
    width: auto;
    object-fit: contain;
    display: block;
}

.auth-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    width: 100%;
    margin-top: -15%; 
}

.text-group {
    margin-bottom: 40px;
    width: 100%;
}

.main-title {
    font-size: 1.85rem; 
    font-weight: 800;
    letter-spacing: -0.8px;
    text-align: left;
    line-height: 1.2;
    color: var(--bg-footer-blue);
}

.sub-text {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--text-pure-black);
    margin-top: 8px;
}

.auth-form { width: 100%; }

.pin-container {
    display: flex;
    justify-content: center; 
    gap: 12px;
    margin-bottom: 40px;
    width: 100%;
}

.pin-container input {
    width: 70px;
    height: 70px;
    border-radius: 18px;
    border: 1px solid var(--text-pure-black);
    background-color: var(--fill-natural-beige);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    outline: none;
    color: var(--text-pure-black); 
}

.primary-btn {
    width: 100%;
    padding: 16px;
    background-color: var(--action-ruby-red);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.auth-footer {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--text-pure-black);
}

.accent-link {
    color: var(--action-ruby-red);
    text-decoration: none;
    font-weight: 700;
}