<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Analytics</title>

<link rel="stylesheet" href="../../static/css/admin/analytics.css">

</head>

<body>

<header class="header">
    <div class="logo">LOGO</div>
    <div class="menu" id="menuBtn">&#9776;</div>
</header>

<!-- Overlay -->
<div id="overlay"></div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <div class="close-btn" id="closeBtn">✕</div>

    <div class="sidebar-menu">
        <ul class="nav-links">
            <li><a href="profile.html">PROFILE</a></li>
            <li><a href="orders.html">ORDERS</a></li>
            <li><a href="inventory.html">INVENTORY</a></li>
            <li><a href="audit.html">AUDIT LOGS</a></li>
            <li class="active"><a href="analytics.html">ANALYTICS</a></li>
        </ul>
    </div>

    <!-- LOGOUT BUTTON -->
    <div class="logout-container">
        <a href="logout.html" class="logout-btn">LOG-OUT</a>
    </div>

</div>

<section class="analytics">

<div class="analytics-header">
<h1>ANALYTICS</h1>

<button class="analytics-btn">
⬇ ANALYTICS
</button>
</div>


<!-- TOTAL REVENUE CARD -->

<div class="card revenue-card">

<div class="small-title">Total Revenue</div>

<div class="revenue-value">13,450</div>

<div class="small-text">From completed orders</div>

</div>


<!-- TWO SMALL CARDS -->

<div class="stats-row">

<div class="card stat-card">
<div class="small-title">Total Orders</div>

<div class="big-number">57</div>

<div class="small-text">3 paid - 1 cancelled</div>
</div>


<div class="card stat-card">
<div class="small-title">Avg Order Value</div>

<div class="big-number">13,450</div>

<div class="small-text">Completed orders</div>
</div>

</div>


<!-- TOP SELLING PRODUCTS -->

<div class="card chart-card">

<div class="small-title">Top Selling Products</div>

<div class="chart-area">

<div class="pie"></div>

<ul class="legend">
<li>Product name</li>
<li>Product name</li>
<li>Product name</li>
<li>Product name</li>
</ul>

</div>

</div>


<!-- LOW STOCK ITEMS -->

<div class="card stock-card">

<div class="small-title">Low Stock Items</div>

<ul>
<li>3 &nbsp; Product name</li>
<li>3 &nbsp; Product name</li>
<li>3 &nbsp; Product name</li>
</ul>

</div>

</section>

<script src="../../static/js/admin/analytics.js"></script>

</body>
</html>