<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>

<link rel="stylesheet" href="../../static/css/admin/profile.css">

</head>

<body>

<header class="header">
    <div class="logo">LOGO</div>
    <div class="menu" id="menuBtn">&#9776;</div>
</header>

<!-- Overlay -->
<div id="overlay"></div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <div class="close-btn" id="closeBtn">✕</div>

    <div class="sidebar-menu">
        <ul class="nav-links">
            <li class="active"><a href="profile.html">PROFILE</a></li>
            <li><a href="orders.html">ORDERS</a></li>
            <li><a href="inventory.html">INVENTORY</a></li>
            <li><a href="audit-logs.html">AUDIT LOGS</a></li>
            <li><a href="analytics.html">ANALYTICS</a></li>
            <li><a href="adminlogin.html">LOG-OUT</a></li>
        </ul>
    </div>

</div>

<section class="profile">

<h1>PROFILE</h1>

<main class="profile-content">
    <div class="input-group">
        <label>NAME</label>
        <div class="static-field">JUAN DELA CRUZ</div>
    </div>

    <div class="input-group">
        <label>E-MAIL</label>
        <div class="editable-field">
            <span>juandelacruz@gmail.com</span>
            <button class="edit-icon">✎</button>
        </div>
    </div>

    <div class="nav-menu">
        <button class="menu-btn" onclick="location.href='verifyemail.html'">
            Change Password
        </button>

    </div>
</main>

</section>

<script src="../../static/js/admin/profile.js"></script>

</body>
</html>