<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sambast | Profile</title>
    <link rel="shortcut icon" type="image/png" href="../../static/image/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admin/profile.css">
</head>

<body>

<header class="header">
    <img src="../../static/image/logo.png" alt="Logo" class="logo">
    <div class="menu" id="menuBtn">&#9776;</div>
</header>

<!-- Overlay -->
<div id="overlay"></div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <div class="close-btn" id="closeBtn">✕</div>

    <div class="sidebar-menu">
        <ul class="nav-links">
            <li class="active"><a href="profile.html">PROFILE</a></li>
            <li><a href="orders.html">ORDERS</a></li>
            <li><a href="inventory.html">INVENTORY</a></li>
            <li><a href="audit-logs.html">AUDIT LOGS</a></li>
            <li><a href="analytics.html">ANALYTICS</a></li>
        </ul>
    </div>

    <!-- LOGOUT BUTTON -->
    <div class="logout-container">
        <a href="logout.html" class="logout-btn">LOG-OUT</a>
    </div>

</div>

<section class="profile">

<h1>PROFILE</h1>

<main class="profile-content">
    <div class="input-group">
        <label>NAME</label>
        <div class="static-field">JUAN DELA CRUZ</div>
    </div>

    <div class="input-group">
        <label>E-MAIL</label>
        <div class="editable-field">
            <span>juandelacruz@gmail.com</span>
            <button class="edit-icon">✎</button>
        </div>
    </div>

    <div class="nav-menu">
        <button class="menu-btn" onclick="location.href='verifyemail.html'">
            Change Password
        </button>

    </div>
</main>

</section>

<script src="../../static/js/admin/profile.js"></script>

</body>
</html>