:root {
    --bg-white: #ffffff;
    --input-fill: #E0E0E0; 
    --btn-black: #000000;
    --accent-green: #39FF14;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body, html {
    height: 100%;
    font-family: 'Inter', -apple-system, sans-serif;
    background-color: #d6d0c5;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.mobile-container {
    max-width: 430px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: env(safe-area-inset-top, 20px) 50px env(safe-area-inset-bottom, 30px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 60px;
}

.logo {
    height: 40px;
    width: auto;
    display: block;  
    object-fit: contain;  
}

.back-btn{
display:flex;
align-items:center;
justify-content:center;
width:36px;
height:36px;
border-radius:50%;
text-decoration:none;
color:#000;
transition:0.2s;
}

.back-btn:hover{
background:#eeeeee;
}

.auth-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: -5%; 
}

.main-title {
    font-size: 2.2rem; 
    font-weight: 900;
    letter-spacing: -1.5px; 
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #1A323E;
}

.auth-form { width: 100%; }

.input-group {
    margin-bottom: 25px;
}

/* Matching the label style from the image */
.input-group label {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    color: #888;
    margin-bottom: 8px;
    margin-left: 20px;
}

.input-field input {
    width: 100%;
    padding: 14px 25px; 
    border-radius: 50px;
    border: 1px solid #000;
    background-color: var(--input-fill);
    font-size: 0.9rem;
    font-weight: 600;
    outline: none;
}

.primary-btn {
    width: 100%;
    padding: 16px;
    background-color: #a6171c;
    color: #F9F8F6;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.auth-footer {
    text-align: center;
    padding-bottom: 30px;
}