<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Sambast | Create Account</title>
    <link rel="shortcut icon" type="image/png" href="../../static/image/logo.png">
    <link rel="stylesheet" href="../../static/css/user/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
</head>


<body class="auth-page">
    <div id="errorModal" class="modal-overlay">
    <div class="modal-box" role="dialog" aria-modal="true">

        <h2 class="modal-title">Error</h2>

        <p id="modalErrorText" class="modal-message">
            Something went wrong.
        </p>

        <button type="button" id="modalOkBtn" class="modal-btn">
            OK
        </button>

    </div>
</div>


    <div class="mobile-container">
        <header class="header">
            <img src="../../static/image/logo.png" alt="Logo" class="logo-img">
            <span class="back-placeholder" style="visibility: hidden;">←</span>
        </header>

        <main class="auth-content">
            <h1 class="main-title">CREATE ACCOUNT</h1>

            <p id="errorMessage" style="color:red; font-size:0.8rem; text-align:center; height: 1em;"></p>

            <form class="auth-form" action="/register" method="POST" id="createAccountForm">
                <div class="input-field">
                    <input type="text" name="full_name" id="fullName" placeholder="FULL NAME" required>
                </div>

                <div class="input-field">
                    <input type="email" name="email" id="email" placeholder="EMAIL ADDRESS" required>
                </div>

               <div class="input-field">
    <input 
        type="tel" 
        name="contact_no" 
        id="contactNo" 
        placeholder="CONTACT NO."
        inputmode="numeric"
        maxlength="11"
        pattern="\d{11}"
        required
    >
</div>


                <button type="submit" class="primary-btn">VERIFY</button>

                <p class="description">
                    Verify your email to complete your registration and activate your account.
                </p>
            </form>
        </main>

        <footer class="auth-footer">
            <p>Have an account? <a href="/sign-in" class="accent-link">Sign-In</a></p>
        </footer>
    </div>
<script src="{{ url_for('static', filename='js/user/createacc.js') }}"></script>
</body>
</html>