<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Sambast | Sign-In</title>
    <link rel="stylesheet" href="../../static/css/user/usersignin.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="auth-page">

    <div class="mobile-container">
        <header class="header">
            <span class="logo">LOGO</span>
        </header>

        <main class="auth-content">
            <h1 class="main-title">Enter 4-digit PIN</h1>
            
            <form class="auth-form" action="homepage.html">
                <div class="pin-container">
                    <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" required>
                    <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" required>
                    <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" required>
                    <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" required>
                </div>

                <button type="submit" class="primary-btn">SIGN-IN</button>
                
                <a href="#" class="forgot-link">Forgot PIN?</a>
            </form>
        </main>

        <footer class="auth-footer">
            <p>Don't have an account? <a href="index.html" class="accent-link">Create an account</a></p>
        </footer>
    </div>
<script src="../../static/js/usersignin.js"></script>
</body>
</html>